body {
    background-color: rgb(243, 241, 236) !important;
}


/* Header med NAV-BAR */

.nav a {
    color: rgb(11, 42, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.nav {
    background-color: rgb(219, 206, 188);
}


/* body */


/* JS JS JS */

.imgContainer {
    width: 100%;
    display: flex;
    height: 30vw;
}

.imgContainer img {
    object-fit: cover;
    width: 100%;
}

@media (max-width: 575px) {
    .imgContainer {
        height: 60vw;
    }
}

.font-bold {
    font-weight: bold;
}

.text-green {
    color: rgb(67, 119, 15);
}

.shadow-hover:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)!important;
}


/* JS JS JS  */


/* Carosel*/

.d-block {
    width: 1500px;
    height: 600px;
}


/*Text*/

.info1-container {
    margin: 2% 10% 2% 10%;
    /* box-sizing: border-box; */
}

.info1-container a {
    color: black;
    font-weight: bold;
}

.h1-container {
    background-color: rgb(219, 206, 188);
    color: rgb(59, 58, 55);
    text-align: left;
    letter-spacing: 5px;
    padding: 2px 2px 0 0;
    color: rgb(59, 58, 55);
    margin: 3% 10% 0% 10%;
}

.display-4 {
    margin: 0px 10px 0px 10px;
}

.main-h4 {
    margin: 10px 0px 10px 0px;
}


/*  FOOOOOTER - Skriv CSS ovanför detta - */

footer {
    position: absolute;
    width: 100%;
    background: rgb(219, 206, 188);
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 20px 50px 20px 50px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: rgb(243, 241, 236);
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
}

.left .content .social a span:hover {
    background: firebrick;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: rgb(243, 241, 236);
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: firebrick;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: black;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    padding-left: 10px;
    border: 1px solid;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: rgb(243, 241, 236);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover {
    background: rgb(44, 221, 44);
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: rgb(243, 241, 236);
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}


/*Andra sidan*/


/*main content*/


/*.img1 img {
    background-size: cover;
    width: 100%;
}*/

.img1 h2 {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.img2 h2 {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.my-image {
    max-width: 100%;
    width: 100%;
    height: 350px;
    vertical-align: middle;
    border: 3px solid rgb(219, 206, 188);
    object-fit: cover;
}

.my-image:hover {
    background: rgb(219, 206, 188);
    opacity: .7;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.row {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}